.contact {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.add-contact-button-container {
    grid-column: 1;
    justify-self: end;
}

.contact-list {
    grid-column: 1;
}

.contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contact .edit-button {
    margin-right: 5px;
}

.contact .delete-button {
    background-color: #ffffff;
    color: #000000;
}

.form-body {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.input-group p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;
}

.input-group input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
}

.title {
    text-align: center;
}

.btn-primary {
    width: 100%;
    margin-top: 20px;
}

.img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact .edit-button{
    margin-right: 50px;
}

.contact-address,
.contact-email,
.contact-phone {
    color: rgb(110, 110, 110);
    font-weight: bold;
}

.contact-name {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
